#app-mini {
  display: flex;
}

/* Font-formatting for the 
FormatText component

TODO: Change font-size property
so it scales with the MUI components */
html * {
  font-family: "Roboto", sans-serif;
}
br {
  font-size: 20;
}

.span {
  font-size: 20;
}

/* The japanese formatter input uses pre tags,
which don't wrap by default and overflow the form input
setting this style wraps the text in the pre tag
correctly, at least on chrome.

...Shoot, it doesn't work for romanji? only kanji?
*/

pre {
  white-space: pre-wrap;
}
